*
	border 0
	margin 0
	padding 0

body
	font 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

.sex-f
	background-image: url(../demo/img/icon/noun_project_13762.svg)