.tile
	-webkit-box-shadow 0 0 3px rgba(0,0,0,.3)
	position absolute
	-webkit-backface-visibility hidden
	-webkit-perspective 1000

	&.flipped
		z-index 3

		.tile-inner
			z-index 4
			-webkit-animation Flip .7s forwards

.tile-inner
	height 100%
	position relative
	width 100%
	-webkit-animation Unflip .5s
	-webkit-backface-visibility hidden
	-webkit-transform-style preserve-3d

.tile-front
.tile-back
	background-size cover
	bottom 0
	left 0
	position absolute
	right 0
	top 0
	-webkit-backface-visibility hidden

.tile-front
	background-color #1BA1E2 // see http://stackoverflow.com/a/11579376/435124
	z-index 2

.tile-back
	background #eee
	-webkit-transform rotateX(180deg)

.name
	color rgba(255,255,255,.7)
	display block
	font-size 30px
	padding 0 3px
	position absolute
	bottom 0
	left 0

@-webkit-keyframes Flip

	0%
		-webkit-transform rotateX(0)

	100%
		-webkit-transform rotateX(180deg)

	// 0%
	// 	-webkit-transform rotateX(0)

	// 40%
	// 	-webkit-transform rotateX(190deg)

	// 55%
	// 	-webkit-transform rotateX(160deg)

	// 70%
	// 	-webkit-transform rotateX(185deg)

	// 100%
	// 	-webkit-transform rotateX(180deg)

@-webkit-keyframes Unflip

	0%
		-webkit-transform rotateX(180deg)

	100%
		-webkit-transform rotateX(0)
