.tile-cell
	float left

.tile
	float left
	-webkit-backface-visibility hidden
	-webkit-perspective 1000

	&.flipped
		z-index 3

		.tile-inner
			//width: 200%
			//z-index 4
			-webkit-transform: rotateX(180deg)

.tile-big
	height 100%
	width 100%

	.tile-front
		background red

.tile-small
	height 50%
	width 50%

	.tile-front
		background blue

.tile-inner
	height 100%
	position relative
	width 100%
	-webkit-transform-style preserve-3d
	-webkit-transition all .5s linear

.tile-front
.tile-back
	bottom 0
	left 0
	position absolute
	right 0
	top 0
	-webkit-backface-visibility hidden

.tile-front
	z-index 2

.tile-back
	background #333
	-webkit-transform: rotateX(180deg)