.tile
	position absolute
	-webkit-backface-visibility hidden
	-webkit-perspective 1000

	&.flipped
		z-index 3

		.tile-inner
			z-index 4
			//-webkit-transform rotateX(180deg)

.tile-inner
	height 100%
	position relative
	width 100%
	-webkit-transform-style preserve-3d

.tile-front
.tile-back
	background-size cover
	bottom 0
	left 0
	position absolute
	right 0
	top 0
	-webkit-backface-visibility hidden

.tile-front
	background-color #1BA1E2 // see http://stackoverflow.com/a/11579376/435124
	z-index 2

.tile-back
	background #333
	-webkit-transform rotateX(180deg)

.name
	color rgba(255,255,255,.7)
	display block
	font-size 30px
	padding 0 3px
	position absolute
	bottom 0
	left 0